
    .dashboard-main {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


  
} 

footer, header {
    display: flex;
    height: 40px; 
    width: 100%;
    background-color: black;
}

.correct-words-list {
    background-color: black;
    list-style: none;
    font-weight: 600;
    font-size: large;
    width: 110px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0px;
    align-items: center;
    position:fixed;
    right:0;
    top:20%;
    color: pink;
    padding: 0px 2px 10px 2px;
    border-radius: 10px;
    
    
    
}

.list-item {
    font-weight: 400;
    display: flex;
    margin: 5px;
    
}

.list-title {
    border-bottom: 2px solid pink;
    margin:10px;
    margin-bottom: 5px;
}



/* 
.quiz-board-main {
    grid-area: h; 
    height: 100px;
    height: 100px;    
    place-self: center; 

}

.letter-board-main {
    grid-area: t;
}

.correct-words-list {
    grid-area: r;
} */

/*
user info along top
        buttons for mastered lists, current lists, and list queue (or combine)

current list name

current quiz
        contains current score
        contains wordlist name
        contains word being tested
        contains guesses
        (maybe hint level here)

letterboard

hint level selection area

message to show when no quiz going on

correct word list along right side-listed vertically
*/


