.letter-board {
    height: 300px;
    width: 500px;
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    padding: 10px;
    position: relative;
}

button {
    height: 46px;
    width: 46px;
    border-color: blue;
    background-color: lightskyblue;
    border-radius: 30%;
    margin: 5px;
    font-size: xx-large;
   
}

button:hover {
    transform: scale(1.3);
    background-color:  rgb(97, 181, 233);
    border-color: orange;
}

.j-button, .k-button, .q-button, .x-button, .z-button {
    background-color: lightskyblue;
    font-weight:bold;
}

.none-button, .not-word-button {
    height: 30px;
    width: 140px;
    font-size: small;
    border-radius: 5px;
    /* margin-top: -10px; */
    padding: 4px;
}

/* .vowel-row {
    border-bottom: solid 2px gray;
} */

.b-j-row {
    border-top: solid 2px gray;
    margin-top: -4px;
    padding-top: 4px;
}

/* .animation-toggle {
    border-radius: 0;
    font-size: xx-small;
    display: flex;
    position: absolute;
    background-color:darkgrey;
    
} */

/* .letterboard-settings {
    width: 500px;
    height: 100px;
    background-color: lightgray;
    border: 3px solid blue;
    display: flex;


    
} */