.letter-board {
    height: 290px;
    width: 480px;
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    /* background-color: lightgray; */
}

button {
    height: 46px;
    width: 46px;
    border: solid 2px;
    border-color: blue;
    background-color: lightskyblue;
    border-radius: 30%;
    margin: 5px;
    font-size: xx-large;  
}

button:hover {
    transform: scale(1.2);
    background-color:  rgb(97, 181, 233);
    border-color:rgb(233, 233, 150);
}

.letters-button-wrapper {
    display: flex;
    flex-direction: column;
    /* background-color: lightgray; */
}

.j-button, .k-button, .q-button, .x-button, .z-button {
    background-color: lightskyblue;
    font-weight:bold;
}

.none-button, .not-word-button {
    height: 30px;
    width: 140px;
    font-size: small;
    border-radius: 5px;
    padding: 4px;
    margin: 12px;
}

.vowel-row {
    border-bottom: solid 1px rgb(56, 28, 212);
    margin-bottom: 4px;
    padding-bottom: 4px;
}



/* .animation-toggle {
    border-radius: 0;
    font-size: xx-small;
    display: flex;
    position: absolute;
    background-color:darkgrey;
    
} */

