
    /* margin-left: 400px; */
    /* position: absolute; */
    /* border: black solid 5px;
    border-radius: 15px;
    overflow-y: scroll;
  }  */
  
  /* .word-list-name {
    display: flex;
    justify-content: center;
    text-decoration: underline;
  } */

  
  